html, body {
  margin: 0;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(228, 33%, 97%);
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

#container {
  width: 800px;
  // min-height: 800px;
}

/* ============================================================================= 

                                    CommentComponent

============================================================================= */


.comment {
  background-color: white;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 12px 0px;

  .comment-content {
    display: flex;

    .score {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;

      .score-wrapper {
        background-color: hsl(228, 33%, 97%);
        text-align: center;
        padding: 10px;
        border-radius: 8px;
        min-width: 42.36px;
        box-sizing: border-box;

        svg {
          fill: #C5C6EF;
          cursor: pointer;

          &:hover {
            fill:#5457B6;
          }
        }

        .num {
          color: #5457B6;
          padding: 15px 2px;
        }
      }
    }

    .content-wrapper{
      margin-left: 20px;
      box-sizing: border-box;

      .top {
        display: flex;
        align-items: center;
  
        .profile {
          width: 36px;
        }
  
        .reply-btn {
          margin-left: auto;
          border: none;
          background-color: white;
          font-size: 16px;
          font-weight: 600;
          color: #5457B6;
          cursor:pointer;

          svg {
            fill: #5357B6;
          }

          &:hover {
            color: hsl(239, 57%, 85%);
            svg {
              fill: hsl(239, 57%, 85%);
            }
          }
        }
      }

      .body {
        display: flex;
        align-items: center;
        margin-top: 10px;
      }
    }
    
  }
}

.reply-area {
  margin-left: 75px;
}