html, body {
  margin: 0;
  position:relative;
  display: flex;
  justify-content: center;
  //align-items: center;
  margin-top: 30px;
  background-color: hsl(228, 33%, 97%);
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

#container {
  width: 800px;
  // min-height: 800px;
}

/* ============================================================================= 

                                    CommentLayout

============================================================================= */


.comment {
  background-color: white;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 12px 0px;

  .comment-content {
    display: flex;

    .score {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;

      .score-wrapper {
        background-color: hsl(228, 33%, 97%);
        text-align: center;
        padding: 10px;
        border-radius: 8px;
        min-width: 42.36px;
        box-sizing: border-box;

        svg {
          fill: #C5C6EF;
          cursor: pointer;

          &:hover {
            fill:#5457B6;
          }
        }

        .num {
          color: #5457B6;
          padding: 15px 2px;
        }
      }
    }

    .content-wrapper{
      margin-left: 20px;
      box-sizing: border-box;

      .top {
        display: flex;
        align-items: center;
  
        .profile {
          width: 36px;
        }
      }

      .body {
        display: flex;
        align-items: center;
        margin-top: 10px;
      }
    }
    
  }
}

.wrapper {
  margin-left: 30px;
  border-left: 2px solid hsl(223, 19%, 93%)
}

.reply-area {
  margin-left: 35px;

  .reply-space{
    //border-left: 1px solid gray;
  }

  .delete {
    color: #ED6468;

    svg {
      fill: #ED6468;
    }

    &:hover {
      color: hsla(358, 79%, 66%, 0.507);
      svg {
        fill: hsla(358, 79%, 66%, 0.507);
      }
    }
  }

  .replying-to {
    color: #5457B6;
    font-weight: 500;
  }
}