html, body {
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 30px 0;
  background-color: hsl(228, 33%, 97%);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

#container {
  width: 800px;
}

/* ============================================================================= 

                                    CommentLayout

============================================================================= */
.comment {
  background-color: white;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 15px 0px;
}
.comment .profile {
  width: 36px;
}
.comment .comment-content {
  display: flex;
}
.comment .comment-content .score {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.comment .comment-content .score .score-wrapper {
  background-color: hsl(228, 33%, 97%);
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  min-width: 42.36px;
  box-sizing: border-box;
}
.comment .comment-content .score .score-wrapper svg {
  fill: #C5C6EF;
  cursor: pointer;
}
.comment .comment-content .score .score-wrapper svg:hover {
  fill: #5457B6;
}
.comment .comment-content .score .score-wrapper .num {
  color: #5457B6;
  padding: 15px 2px;
}
.comment .comment-content .content-wrapper {
  margin-left: 20px;
  box-sizing: border-box;
  width: 100%;
}
.comment .comment-content .content-wrapper .top {
  display: flex;
  align-items: center;
}
.comment .comment-content .content-wrapper .top .name {
  font-weight: 500;
}
.comment .comment-content .content-wrapper .top .you {
  background-color: #5457B6;
  color: white;
  font-weight: 500;
  padding: 2px 7px;
  border-radius: 3px;
  font-size: 15px;
}
.comment .comment-content .content-wrapper .body {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.comment .comment-content .content-wrapper .body .text {
  word-break: break-word;
}

.wrapper {
  margin-left: 30px;
  border-left: 2px solid hsl(223, 19%, 93%);
}

.delete {
  color: #ED6468 !important;
}
.delete svg {
  fill: #ED6468 !important;
}
.delete:hover {
  color: hsla(358, 79%, 66%, 0.507) !important;
}
.delete:hover svg {
  fill: hsla(358, 79%, 66%, 0.507) !important;
}

.reply-area {
  margin-left: 35px;
}
.reply-area .replying-to {
  color: #5457B6;
  font-weight: 500;
}

.my-comment {
  display: flex;
  justify-content: space-between;
}
.my-comment .my-profile {
  width: 48px;
}

textarea {
  width: 570px;
  min-height: 80px;
  border: 2px solid hsl(223, 19%, 93%);
  border-radius: 10px;
  font-size: 16px;
  padding: 10px 20px;
  box-sizing: border-box;
  resize: none;
  font-family: "Rubik", sans-serif;
}
textarea:focus {
  outline: 1px solid #5457B6;
  border: 1px solid #5457B6;
}

.edit-input {
  width: 100%;
}
.edit-input .edit-area {
  width: 100%;
}

.update {
  margin-top: 14px;
  display: flex;
}

/* ============================================================================= 

                                    Alert Component

============================================================================= */
#app {
  overflow-x: hidden;
}

#alert {
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  left: calc(-50vw + 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.msg {
  width: 320px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}
.msg .title {
  font-weight: 500;
  font-size: 24px;
  color: hsl(212, 24%, 26%);
  margin-bottom: 13px;
}
.msg .warning {
  line-height: 25px;
}
.msg .btns {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}
.msg .no, .msg .yes {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: white;
  padding: 13px 30px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}
.msg .no {
  background-color: hsl(211, 10%, 45%);
}
.msg .no:hover {
  background-color: hsla(211, 10%, 45%, 0.671);
}
.msg .yes {
  background-color: #ED6468;
}
.msg .yes:hover {
  background-color: rgba(237, 100, 105, 0.6156862745);
}/*# sourceMappingURL=default.css.map */